[submodule "site-lisp/xah-fly-keys"]
	path = site-lisp/xah-fly-keys
	url = https://github.com/xahlee/xah-fly-keys.git
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
