# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# site-lisp and elpa
elpa
ycmd
yasnippet-snippets
plugins
eaf

# cache
.cache
eln-cache
tutorial
var
*cookie*
.dap-breakpoints
nov*
recentf
projects
places
projectile*
presient*
transient
history
.last*
*auto*

# macOS
.DS_Store

# personal data
*.db
*.data
config-user
games
.lsp-session-v1
.local/env
.mc-lists.el
.org-id-locations
.persistent-scratch
ac-comphist.dat
amx-items
bookmarks
flycheck_init.new.el
*.el#
site-lisp/feather-dashboard.el
site-lisp/feather.el
site-lisp/ppp.el
persistent-scratch/2021-07-03--21-42-40-849852000
newsticker/feeds/Emacs Wiki/data

config-user.el
etc/custom.el
cnfonts/v4
site-lisp/words/scrabble
site-lisp/words/wordle
site-lisp/wordel.el
cnfonts/cnfonts.conf
.tutor/evil-tutor-27022022.txt
straight